<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.hw.example.dao.SystemUserDao">

  <select id="getSystemUserInfo" resultType="com.hw.example.pojo.SystemUser">
      SELECT su.*
      FROM SYSTEM_USER su
      WHERE su.sz_username = #{sz_username,jdbcType=VARCHAR}
      AND su.sz_pwd = #{sz_pwd,jdbcType=VARCHAR}
  </select>

  <update id="updateByPrimaryKeySelective" parameterType="com.hw.example.pojo.SystemUser">
      update system_user
      <set>
          <if test="sz_username != null">
              sz_username = #{sz_username,jdbcType=VARCHAR},
          </if>
          <if test="sz_pwd != null">
              sz_pwd = #{sz_pwd,jdbcType=VARCHAR},
          </if>
          <if test="nt_count != null">
              nt_count = #{nt_count,jdbcType=INTEGER},
          </if>
          <if test="nt_count_remain != null">
              nt_count_remain = #{nt_count_remain,jdbcType=INTEGER},
          </if>
      </set>
      where ng_id = #{ng_id,jdbcType=BIGINT}
  </update>

</mapper>